<p>
    <label><%= l(:label_lcm_auth_register_url) %></label>
    <%= text_field_tag 'settings[register_url]', @settings["register_url"] %>
</p>
<p>
    <label><%= l(:label_lcm_auth_lost_password_url) %></label>
    <%= text_field_tag 'settings[lost_password_url]', @settings["lost_password_url"] %>
</p>
<p>
    <label><%= l(:label_lcm_auth_account_edit_message) %></label>
    <%= text_field_tag 'settings[account_edit_message]', @settings["account_edit_message"] %>
</p>
